body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1688px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7389_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:860px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7389 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:860px;
  display:flex;
}
#u7389 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7389_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(81, 90, 110, 0.996078431372549);
  text-align:left;
}
#u7390 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:200px;
  height:40px;
  display:flex;
  font-size:14px;
  color:rgba(81, 90, 110, 0.996078431372549);
  text-align:left;
}
#u7390 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 34px;
  box-sizing:border-box;
  width:100%;
}
#u7390_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(81, 90, 110, 0.996078431372549);
  text-align:left;
}
#u7391 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:200px;
  height:40px;
  display:flex;
  font-size:12px;
  color:rgba(81, 90, 110, 0.996078431372549);
  text-align:left;
}
#u7391 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 58px;
  box-sizing:border-box;
  width:100%;
}
#u7391_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7392_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(81, 90, 110, 0.996078431372549);
  text-align:left;
}
#u7392 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:96px;
  width:200px;
  height:40px;
  display:flex;
  font-size:12px;
  color:rgba(81, 90, 110, 0.996078431372549);
  text-align:left;
}
#u7392 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 58px;
  box-sizing:border-box;
  width:100%;
}
#u7392_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(81, 90, 110, 0.996078431372549);
  text-align:left;
}
#u7393 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:136px;
  width:200px;
  height:40px;
  display:flex;
  font-size:12px;
  color:rgba(81, 90, 110, 0.996078431372549);
  text-align:left;
}
#u7393 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 58px;
  box-sizing:border-box;
  width:100%;
}
#u7393_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7394 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:1488px;
  height:860px;
}
#u7394_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1488px;
  height:860px;
  overflow:auto;
}
#u7395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:5px;
}
#u7395 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:34px;
  width:8px;
  height:5px;
  display:flex;
}
#u7395 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7395_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7396_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#515A6E;
  text-align:left;
}
#u7396 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:176px;
  width:200px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#515A6E;
  text-align:left;
}
#u7396 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 34px;
  box-sizing:border-box;
  width:100%;
}
#u7396_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(81, 90, 110, 0.996078431372549);
  text-align:left;
}
#u7397 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:216px;
  width:200px;
  height:40px;
  display:flex;
  font-size:12px;
  color:rgba(81, 90, 110, 0.996078431372549);
  text-align:left;
}
#u7397 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 58px;
  box-sizing:border-box;
  width:100%;
}
#u7397_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:5px;
}
#u7398 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:194px;
  width:8px;
  height:5px;
  display:flex;
}
#u7398 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7398_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:5px;
}
#u7399 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:274px;
  width:8px;
  height:5px;
  display:flex;
}
#u7399 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7399_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7400_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(81, 90, 110, 0.996078431372549);
}
#u7400 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:296px;
  width:200px;
  height:40px;
  display:flex;
  font-size:12px;
  color:rgba(81, 90, 110, 0.996078431372549);
}
#u7400 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 58px;
  box-sizing:border-box;
  width:100%;
}
#u7400_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(81, 90, 110, 0.996078431372549);
}
#u7400.selected {
}
#u7400_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(81, 90, 110, 0.996078431372549);
}
#u7401 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:336px;
  width:200px;
  height:40px;
  display:flex;
  font-size:12px;
  color:rgba(81, 90, 110, 0.996078431372549);
}
#u7401 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 58px;
  box-sizing:border-box;
  width:100%;
}
#u7401_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(81, 90, 110, 0.996078431372549);
}
#u7401.selected {
}
#u7401_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7402_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(81, 90, 110, 0.996078431372549);
}
#u7402 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:376px;
  width:200px;
  height:40px;
  display:flex;
  font-size:12px;
  color:rgba(81, 90, 110, 0.996078431372549);
}
#u7402 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 58px;
  box-sizing:border-box;
  width:100%;
}
#u7402_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(81, 90, 110, 0.996078431372549);
}
#u7402.selected {
}
#u7402_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7403_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(81, 90, 110, 0.996078431372549);
}
#u7403 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:256px;
  width:200px;
  height:40px;
  display:flex;
  color:rgba(81, 90, 110, 0.996078431372549);
}
#u7403 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 42px;
  box-sizing:border-box;
  width:100%;
}
#u7403_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(81, 90, 110, 0.996078431372549);
}
#u7403.selected {
}
#u7403_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
