body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1008px;
}
#u3304 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1008px;
  display:flex;
}
#u3304 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3304_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3305_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:1008px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3305 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:1008px;
  display:flex;
}
#u3305 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3305_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1087px;
}
#u3306 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1072px;
  width:1920px;
  height:1087px;
  display:flex;
}
#u3306 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3306_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3307_img {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:88px;
  height:88px;
}
#u3307 {
  border-width:0px;
  position:absolute;
  left:1800px;
  top:48px;
  width:72px;
  height:72px;
  display:flex;
}
#u3307 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3307_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3308_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:144px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:24px;
  -moz-box-shadow:0px 0px 8px rgba(51, 51, 51, 0.717647058823529);
  -webkit-box-shadow:0px 0px 8px rgba(51, 51, 51, 0.717647058823529);
  box-shadow:0px 0px 8px rgba(51, 51, 51, 0.717647058823529);
}
#u3308 {
  border-width:0px;
  position:absolute;
  left:1812px;
  top:301px;
  width:48px;
  height:144px;
  display:flex;
}
#u3308 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3308_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3309_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:144px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:24px;
  -moz-box-shadow:0px 0px 8px rgba(51, 51, 51, 0.717647058823529);
  -webkit-box-shadow:0px 0px 8px rgba(51, 51, 51, 0.717647058823529);
  box-shadow:0px 0px 8px rgba(51, 51, 51, 0.717647058823529);
}
#u3309 {
  border-width:0px;
  position:absolute;
  left:1812px;
  top:480px;
  width:48px;
  height:144px;
  display:flex;
}
#u3309 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3309_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3310_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:24px;
  -moz-box-shadow:0px 0px 8px rgba(51, 51, 51, 0.717647058823529);
  -webkit-box-shadow:0px 0px 8px rgba(51, 51, 51, 0.717647058823529);
  box-shadow:0px 0px 8px rgba(51, 51, 51, 0.717647058823529);
}
#u3310 {
  border-width:0px;
  position:absolute;
  left:1812px;
  top:659px;
  width:48px;
  height:48px;
  display:flex;
}
#u3310 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3310_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3311_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
}
#u3311 {
  border-width:0px;
  position:absolute;
  left:1824px;
  top:313px;
  width:24px;
  height:25px;
  display:flex;
}
#u3311 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3311_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3312_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
}
#u3312 {
  border-width:0px;
  position:absolute;
  left:1824px;
  top:408px;
  width:24px;
  height:25px;
  display:flex;
}
#u3312 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3312_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:2px;
}
#u3313 {
  border-width:0px;
  position:absolute;
  left:1828px;
  top:349px;
  width:16px;
  height:1px;
  display:flex;
}
#u3313 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3313_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3314_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:2px;
}
#u3314 {
  border-width:0px;
  position:absolute;
  left:1828px;
  top:393px;
  width:16px;
  height:1px;
  display:flex;
}
#u3314 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3314_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:2px;
}
#u3315 {
  border-width:0px;
  position:absolute;
  left:1828px;
  top:530px;
  width:16px;
  height:1px;
  display:flex;
}
#u3315 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3315_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3316_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:2px;
}
#u3316 {
  border-width:0px;
  position:absolute;
  left:1828px;
  top:574px;
  width:16px;
  height:1px;
  display:flex;
}
#u3316 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3316_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3317_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3317 {
  border-width:0px;
  position:absolute;
  left:1820px;
  top:364px;
  width:32px;
  height:18px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
}
#u3317 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3317_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3318 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3319_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:15px;
}
#u3319 {
  border-width:0px;
  position:absolute;
  left:1824px;
  top:492px;
  width:24px;
  height:15px;
  display:flex;
}
#u3319 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3319_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3320_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:8px;
}
#u3320 {
  border-width:0px;
  position:absolute;
  left:1824px;
  top:504px;
  width:24px;
  height:8px;
  display:flex;
}
#u3320 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3320_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3321_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:8px;
}
#u3321 {
  border-width:0px;
  position:absolute;
  left:1824px;
  top:509px;
  width:24px;
  height:8px;
  display:flex;
}
#u3321 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3321_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3322_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u3322 {
  border-width:0px;
  position:absolute;
  left:1824px;
  top:588px;
  width:24px;
  height:24px;
  display:flex;
}
#u3322 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3322_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u3323 {
  border-width:0px;
  position:absolute;
  left:1824px;
  top:540px;
  width:24px;
  height:24px;
  display:flex;
}
#u3323 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3323_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3324_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u3324 {
  border-width:0px;
  position:absolute;
  left:1824px;
  top:671px;
  width:24px;
  height:24px;
  display:flex;
}
#u3324 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3324_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  font-size:16px;
}
#u3325 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:8px;
  width:384px;
  height:48px;
  display:flex;
  font-size:16px;
}
#u3325 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3325_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3326_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:32px;
}
#u3326 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:16px;
  width:56px;
  height:32px;
  display:flex;
}
#u3326 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3326_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
